@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel {
display: flex;
flex-direction: row;
max-width: 1152px;
width: 100%;
min-width: 300px;
overflow: hidden;
}
.slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.multi-carousel {
    list-style-type: none;
    transition: transform 0.6s ease-in-out;
}
