@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    width: 15px;
    height: 15px;
    /* background-color only for content */
    border: 2px solid #bbbbbb;
    background-color: white;
    border-radius: 50%;
  }
  
  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    background-color: #EC3434;
  }