@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        border: 1px solid black;
    }

    input[type="file"] {
        border: none;
    }
    
    h1 {
        font-size: 2rem;
    }
}